h2 {
    text-align: center;
}

.container {
    margin-top: 16px;
    height: 85vh;
    padding-top: 25px;
}

.myForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.myInput {
    margin: 11px;
    padding: 4px;
    border: 2px solid black;
    border-radius: 10px;
    width: 350px;
    outline: none;
}

#btn {
    margin: 6px;
    padding: 8px 11px;
    border-radius: 6px;
    background: #38243370;
    color: white;
}